asgiref==3.5.2
autopep8==1.6.0
certifi==2022.5.18.1
chardet==3.0.4
charset-normalizer==2.0.12
Django==2.1.2
geographiclib==1.49
geopy==1.17.0
googlemaps==3.0.2
gunicorn==19.9.0
idna==2.7
psycopg2==2.9.3
pycodestyle==2.8.0
pytz==2018.6
requests==2.20.0
sqlparse==0.4.2
toml==0.10.2
urllib3==1.24
